// Degular Text
@font-face {
  font-family: 'Digestive Two';
  src: url('../fonts/Digestive-two.woff2') format('woff2'),
       url('../fonts/Digestive-two.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Digestive Small';
  src: url('../fonts/Digestive-small.woff2') format('woff2'),
       url('../fonts/Digestive-small.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}